.git
.gitignore
.gitattributes
.env
.env.docker
.env.production
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/documentos/*
docs
*.zip
*.tar.gz
npm-debug.log
.phpunit.cache
.idea
.vscode
